.vfx-table-view .table-cell {
    -fx-border-color: transparent #e0e0e0 transparent transparent;
    -fx-border-width: 0 1 0 0;
}

.vfx-table-view .column-header {
    -fx-border-color: transparent #e0e0e0 transparent transparent;
    -fx-border-width: 0 1 0 0;
}

.vfx-table-view .table-row-cell {
    -fx-border-color: transparent transparent #e0e0e0 transparent;
    -fx-border-width: 0 0 1 0;
}

.vfx-table-view .table-row-cell:odd {
    -fx-background-color: white;
}

.vfx-table-view .table-row-cell:even {
    -fx-background-color: #f5f5f5;
}

.vfx-table-view .table-row-cell:selected .table-cell {
    -fx-background-color: #007AFF;
    -fx-text-fill: white;
}

/* .vfx-table-view .table-cell:selected {
    -fx-background-color: #007AFF;
    -fx-text-fill: white;
} */