.vfx-table-view-full .table-cell:filled {
    -fx-border-color: transparent #e0e0e0 transparent transparent;
    -fx-border-width: 0 1 0 0;
}

.vfx-table-view-full .column-header:filled {
    -fx-border-color: transparent #e0e0e0 transparent transparent;
    -fx-border-width: 0 1 0 0;
}

.vfx-table-view-full .table-row-cell:filled {
    -fx-border-color: transparent transparent #e0e0e0 transparent;
    -fx-border-width: 0 0 1 0;
}

.vfx-table-view-full .table-row-cell:filled:odd {
    -fx-background-color: white;
}

.vfx-table-view-full .table-row-cell:filled:even {
    -fx-background-color: #f5f5f5;
}

.vfx-table-view-full .table-row-cell:selected .table-cell {
    -fx-background-color: #007AFF;
    -fx-text-fill: white;
}

.vfx-table-view-lite .table-row-cell:selected .table-cell {
    -fx-background-color: #007AFF;
    -fx-text-fill: white;
}

.vfx-table-view-lite .table-row-cell:odd {
    -fx-background-color: white;
}

.vfx-table-view-lite .table-row-cell:even {
    -fx-background-color: white;
}